* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

/* _roboot scss have default margin bottom value */
p {
  margin-bottom: 0 !important;
}

body {
  font-family: sans-serif;
  background: #121212 !important;
}

::-webkit-scrollbar {
  display: none;
}

/* gutter-x occures some defaulty space so i removed */
.custom-gutter-x {
  --bs-gutter-x: 0rem !important;
}

/* btn styles started */

.primary-btn {
  height: 32px;
  font-size: 13px;
}

@media (min-width: 1024px) {
  .primary-btn {
    height: 48px;
    font-size: 16px;
  }
}

.secondary-btn {
  color: #989898;
}

/* btn styles ended */

/* navbar styles */
#navbar {
  height: 48px;
  margin: 8px;
}

.right-side-group svg {
  width: 16px;
  height: 16px;
}

.right-side-group button {
  margin: 0px 13px;
}

#searchBar {
  width: 460px;
  height: 48px;
  background-color: #272727;
}

#search-input {
  height: 24px;
  background-color: #272727;
  caret-color: white;
}

#search-input:focus {
  outline: none;
}

.line {
  width: 1px;
  height: 30px;
  background-color: #7c7c7c;
}

#search-input::placeholder {
  color: #b3b3b3;
  font-size: medium;
}

/* navbar styles ended */

/* heading component started */
.artist-card-bg {
  background: linear-gradient(to bottom, #242424, #121212);
}

.heading-container h2 {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

@media (min-width: 768px) {
  .heading-container h2 {
    font-size: 24px;
  }
}

.heading-container h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 768px) {
  .heading-container a {
    color: #a7a7a7;
    font-size: 13px;
    font-weight: 600;
  }
  .heading-container a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
  }
}

/* heading component ended */

/* right side section styles started */

.right-side-container {
  background-color: #121212;
  height: 82vh;
}

/* right side section styles ended */

/* artist card styles started */

.artist-card {
  padding: 16px 12px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (min-width: 768px) {
  .artist-card:hover {
    background: linear-gradient(
      to top,
      rgb(32, 32, 32),
      rgb(26, 26, 26),
      rgba(32, 32, 32, 0)
    );
  }
}

.artist-card img {
  width: 139px;
  height: 139px;
  border-radius: 4px;
}

@media (min-width: 1280px) {
  .artist-card img {
    width: 169px;
    height: 169px;
    border-radius: 100%;
  }
}

@media (min-width: 1536px) {
  .artist-card img {
    width: 209px;
    height: 209px;
  }
}

.artist-card h4 {
  margin-top: 8px;
  font-weight: 400;
  color: white;
}

.artist-card p {
  margin-top: 8px;
  color: rgb(161, 161, 161);
  font-weight: 300;
  font-size: 14px;
}
/* artist card styles ended */

/* popular albums list styles started */

.popular-album-card {
  padding: 14px 10px;
  border-radius: 4px;
}

.popular-album-card img {
  width: 140px;
  height: 140px;
  border-radius: 5px;
}

@media (min-width: 1280px) {
  .popular-album-card img {
    width: 169px;
    height: 169px;
  }
}

@media (min-width: 1536px) {
  .popular-album-card img {
    width: 209px;
    height: 209px;
  }
}

.popular-album-card h4 {
  font-size: 16px;
  font-weight: 400;
  color: white;
  padding-top: 12px;
}

.popular-album-card p {
  display: none;
}

@media (min-width: 1280px) {
  .popular-album-card p {
    max-width: 169px;
    display: block;
    color: white;
    font-size: 14px;
    color: rgb(161, 161, 161);
    margin-top: 8px;
    line-height: 1.5;
  }
}

/* popular albums styles ended */

/* radio, featured charts, playlist styles started */

.radio-list-card {
  padding: 14px 10px;
  border-radius: 4px;
}

.radio-list-card:hover {
  background-color: #1f1f1f;
}

.radio-list-card span {
  display: block;
  color: white;
  padding-top: 6px;
}

@media (min-width: 768px) {
  .radio-list-card span {
    display: none;
  }
}

.radio-list-card img {
  width: 140px;
  height: 140px;
  border-radius: 4px;
}

@media (min-width: 1140px) {
  .radio-list-card img {
    width: 169px;
    height: 169px;
  }
}

@media (min-width: 1536px) {
  .radio-list-card img {
    width: 209px;
    height: 209px;
  }
}

.radio-list-card p {
  display: none;
  max-width: 169px;
}

@media (min-width: 768px) {
  .radio-list-card p {
    display: block;
    padding-right: 4px;
    margin-top: 8px;
    color: #a1a1a1;
    line-height: 1.5;
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .radio-list-card p {
    font-size: 16px;
    max-width: 209px;
  }
}

/* radio, featured charts, playlist styles ended */

/* footer styles started */

footer p {
  color: #b3b3b3;
  font-size: 14px;
}

.footer-link-card h4 {
  font-size: 16px;
  font-weight: 500;
}

.footer-link-card a {
  color: #a1a1a1;
  font-size: 15px;
  display: block;
  margin-top: 12px;
  text-decoration: none;
}

.footer-link-card a:hover {
  text-decoration: underline;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #292929;
}

.social-link:hover {
  background-color: #727272;
}

.footer-line {
  height: 1px;
  background-color: #2a2a2a;
}

.footer-leagal-wrapper a {
  font-size: 13px;
  text-decoration: none;
  color: #9a9a9a;
}

footer > p {
  color: #9a9a9a;
}

.language-btn {
  font-size: 12px;
  padding: 6px 12px;
  font-weight: 600;
  background-color: #121212;
  border: 1.5px solid #545454;
}

/* footer styles ended */

/* left sidebar styles */

.left-side-container {
  background-color: #121212;
  height: 82vh;
}

.sidebar-header p {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #a7a7a7;
}

.left-sidebar .library-heading {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
}

.left-sidebar-card {
  margin-top: 20px;
  box-sizing: border-box;
  padding: 4px 20px;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.left-sidebar-card h3 {
  margin-top: 16px;
  font-weight: 500;
  color: white;
  font-size: 16px;
}

.left-sidebar-card p {
  margin-top: 14px;
  font-size: 14px;
  color: rgb(223, 223, 223);
}

.left-sidebar-card button {
  margin-top: 20px;
  padding: 6px 16px;
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
}

.left-sidebar-card button:hover {
  cursor: pointer;
}

.left-sidebar-links-wrapper {
  padding: 0px 10px;
  margin: 24px 0px;
  margin-top: 80px;
}
.left-sidebar-links-wrapper a {
  padding-bottom: 14px;
  margin-right: 20px;
  display: inline-block;
  text-decoration: none;
  color: #9a9a9a;
  font-size: 11px;
}

.left-sidebar-links-wrapper .white-link {
  color: white;
  font-size: 12px;
}

.left-sidebar-links-wrapper .white-link:hover {
  text-decoration: underline;
}

/* left sidebar styles ended */

/* bottom promotion bar started */

.signUp-bottom-bar {
  background: linear-gradient(to right, #a03593, #6398ed);
}

.signUp-bottom-bar div h5 {
  font-size: 13px;
}

/* bottom promotion bar ended */
